.bx-pager{
    display: flex;
    justify-content: center;
}

.bx-pager-link{
    opacity: 0; 
}

.bx-pager-item{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(43, 41, 45, .2);
}

.bx-pager-item:not(:last-child){
    margin-right: 30px;
}

.bx-wrapper .bx-pager .bx-default-pager a.active,
.bx-wrapper .bx-pager .bx-default-pager a:focus,
.bx-wrapper .bx-pager .bx-default-pager a:hover{
    background-color: rgba(49, 66, 197, 1);
}

