*{
    box-sizing: border-box;
}


body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    margin-right: 130px;
    padding: 44px 0 73px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start{
    justify-content: start;
}

.header_logo img{
    margin-right: 15px;
}

.header_logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.header_logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_li:first-of-type{
    margin-right: 30px;
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header_li{
    position: relative;
}

.header_li a:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    bottom: -5px;
    transition: .7s;
}

.header_ul{
    margin-right: 77px;
}

.header_link:hover{
    font-weight: bold;
    transition: .7s;
}

.buttons{
    width: 160px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    color: #FFFFFF;
    border: none;
    
   
}

.header_button:hover{
    cursor: pointer;
    transition: .7s;
    background:  #9198d5;
}


.questions{
    background-color: #F4F5F7;
    padding: 77px;
    
}
.what{
    max-width: 550px;
    margin-right: 29px;
}

.who{
    max-width: 550px;
}

.w_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
     color: #2B292D;
     margin-bottom: 10px;
}

.w_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.logos{;
    padding: 30px 0;
}

.logos_img{
    
}

.logos_img:last-child{
    margin-right: 0;
}

.inbox{
   background-color: rgba(252, 240, 227, .4);
   padding: 117px 0 116px;
}

.inbox_content{
    max-width: 519px;
    width: 100%;
    background-color: #fff;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;;
   
}

.inbox_content_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 26px;
}

.inbox_content_text_bold{
    font-weight: 700;
}

.inbox_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}

.inbox_position{
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.inbox_img{
   margin-right: 11px; 
}

.v-pre_title{
    font-size: 22px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 26px;
}

.v-pre_title_orange{
    color: #F1592B;
}
.v-pre_title_blue{
    color: rgba(1, 137, 209, 1);
}

.v-title{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 462px;
    margin-bottom: 26px;
}

.v-text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 461px;
    margin-bottom: 44px;
}

.communicate{
    padding: 110px 0 105px ;
}

.communicate_one{
    margin-bottom: 105px;
}

.communicate_content{
    margin-right: 193px;
}

.communicate_list{
    max-width: 360px;
}

.communicate_text{
    font-size: 18px;
    line-height: 26px;
    color:rgba(43, 41, 45, 1);
    margin-bottom: 20px;
}

.communicate_text_bold{
    font-weight: bold;
}

.communicate_title{
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: rgba(49, 66, 198, 1);
    text-decoration: rgba(49, 66, 198, .4) ;

}



.understand{
    background:rgba(0, 161, 198, .09);
    padding: 110px  ;
   

}

.understand_block{
    max-width: 555px;
    margin: 0 auto;
    text-align: center;
}

.understand_subtitle{
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin-bottom: 24px;
}

.understand_title{
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 30px;
}

.understand_text{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin-bottom: 34px;
    max-width: 554px;
}

.understand_buttons{
    display: inline-block
    ;
    margin-bottom: 111px;
}


.buttons:hover{
    cursor: pointer;
    transition: .7s;
    background-color: #9198d5;
    color: #FFFFFF
}

.button_white{
    width: 158px;
    height: 48px;
    background-color: #fff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #000000;
    margin-left: 10px;
}

.understand_button_2:hover{
    cursor: pointer;
    transition: .7s;
    background-color: #9198d5;
   ;
}
 

.grid_understand{
    display: grid;
    gap: 31px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
   
    margin-bottom: 110px;
}

.img_understand{
    text-align: center;
    background-color: #fff;
    padding: 25px 55px;
    
    margin-bottom: 22px;
   

}
.img_understand:hover{
    background-color: rgba(49, 65, 197, 1);
    cursor: pointer;
    transition: .7s;
    color: #FFFFFF;
}

.img_understand:hover p{
    color: #ffffff;
}

.img_understand_text{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #2B292D;
    
}

.img_understand_text:hover{
    color:#ffffff ;
    cursor: pointer;
    transition: .7s;
}

.portfolio{
    padding: 90px 130px;
    
}
.portfolio_about{
   max-width: 588px;
   margin: o auto;
   text-align: center;
}

.portfolio_v-title{
    max-width: 588px;
}

.portfolio_v-text{
    max-width: 554px;
}


.grid_portfolio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 45px;
}

.item_portfolio{
    transition: opacity .7s;
}

.item_portfolio:hover{
    cursor: pointer;
    opacity: .7;
}

.item_portfolio:nth-child(3), .item_portfolio:nth-child(4){
    grid-row: span 2;
}
